@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

$dark-gray: #1b1b1b;
$light-gray: #939393;
$light-gray2: #f5f5f5;
$light-gray3: #f3f3f3;
$gray: #666;
$white: #fff;

$red: #e33a3f;
$primary-color: rgb(110,105,246);
$secondary-color: $light-gray;

$font-size-small: 14px;
$font-size: 16px;
$font-size-big: 18px;
$line-height: 1.5;
$font-family:'Roboto Slab', serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
