@import "normalize";
@import "normalize_plus";
@import "variables";
@import "mixings";
@import "grid";
@import "form_elements";
@import "hamburger";
@import "fontello";
// @import "animate";

body {
  font-family: $font-family;
  font-size: $font-size-small;
  line-height: $line-height;
  font-weight: $font-weight-light;
  margin: 0;
  @include screen(medium) {
    font-size: $font-size;
  }
  @include screen(large) {
    font-size: $font-size-big;
  }
}
h1,
h2 {
  font-weight: $font-weight-light;
}
h1, h2, h3, h4 {
  margin: 0;
  text-transform: uppercase;
}
p {
  margin: 0 0 1rem 0;
}
strong,
b {
  font-weight: $font-weight-bold;
}
.clear:after {
  content: "";
  display: table;
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
}
.main-logo {
  width: 60px;
  height: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  > * {
    padding: 1rem;
  }
}
.flex-50 {
  > * {
    width: 50%;
  }
}
.col {
  padding: 0 1rem;
}
section {
  margin: 2rem 0;
}
